<app-container>
  <div class="compare">
    <div class="topbar">
      <h4 class="header">Compare student's works</h4>
      <div class="compare-controls row bg-white">
        <div class="col col-12 col-sm-5 d-center">
          <button class="btn btn-primary btn-lg">Upload files</button>
        </div>
        <div class="col col-2 splitter d-center">
          <span>or</span>
          <div class="line"></div>
        </div>
        <div class="col col-12 col-sm-5 d-center">
          <button class="btn btn-light btn-lg">Find</button>
        </div>
      </div>
    </div>

    <div class="history">
      <h4 class="header mt-3">Compare student's works</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>111</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>111</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>111</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>


</app-container>
