<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <img ngSrc="assets/head.svg" alt="head" class="img-fluid me-2" id="img-big" height="60" width="60">
      <a class="logo-link" [routerLink]="'/dashboard'" ><h2 class="fw-bold m-0">fp<span class="text-primary">.</span>learn</h2></a>
    </div>
    <button class="navbar-togler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a [routerLink]="'/dashboard'" class="navbar-item active">
        <i class="fa-solid fa-gear"></i>
        Dashboard
      </a>
      <a class="navbar-item">
        <i class="fa-solid fa-screwdriver-wrench"></i>
        Tools
      </a>
      <a class="navbar-item">
        <i class="fa-regular fa-clock"></i>
        History
      </a>
      <a class="navbar-item">
        <i class="fa-solid fa-briefcase"></i>
        Assignments
      </a>
      <app-search *ngIf="!largeScreen"></app-search>
    </div>
  </div>
</nav>
