@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";

*html, *body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  background: #F3F2F7;
}

.container-scrollable {
  overflow-y: auto;
  height: 100vh;
}



.d-center{
  display: flex;
  justify-content: center;
  align-items: center;
}



.b-shadow{
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

//FONTS
$font-family-sans-serif: 'Barlow', sans-serif;
$font-family-serif: 'Mulish', sans-serif;
$font-family-monospace: 'Poppins', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 500;

$font-size-root: 16px;
$font-size-base: 1rem;

$h1-font-size: 3em;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;


//COLORS
$white: #fff;
$black: #292929;
$green: #2C6E49;
$red: #BC412B;
$gray: #F3F2F7;
$green-light: rgb(0,176,116,0.25);
$gray-light: #F3F2F7;
$gray-dark: #B0B7BD;

$primary: $green;
$secondary: $white;
$success: $green;
$danger: $red;
$light: $gray;

$body-bg: $gray;

//SPACING
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
);

//Logo
.logo-link{
  text-decoration: none;
  color: $black;
  span{
    color: $green;
  }
}

//Buttons
$btn-font-family: $font-family-serif;
$btn-border-radius: 1rem;

.btn{
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

//Input
$input-border-width: 0px;
$input-border-radius: 1.5rem;
$input-padding-y: 0.8rem;
$input-padding-x: 1.5rem;

//Navbar
$navbar-light-toggler-border-color: $gray;

//Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$grid-gutter-width: 0;

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sticky-blur {
  background: $white;
  backdrop-filter: blur(10px);
  .search{
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

//Inputs
input:focus, textarea:focus, select:focus {
  outline: none;
  border-bottom: 2px solid $green-light !important;
}

input{
  border-bottom: 2px solid inherit !important;

}

input, textarea,select{
  transition: 0.3s ease all;
}

//Users
.user-badge{
  position: absolute;
  bottom: 20px;
  left: 10px;
  p{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
    font-family: 'Barlow', 'sans-serif';
  }
  i{
    color: $gray-dark;
    border: 2px solid $gray-dark;
    border-radius: 5px;
    padding: 5px 5px 1px 5px;
    font-size: 35px;
  }
}

@media (max-width: 800px){
  .user-badge{
    position: relative;
    left: 50%;
    top:20px;
    transform: translateX(-50%);
    justify-content: center !important;
  }

  .search{
   .input-container{
     margin-top:20px !important;
   }
    .helpers{
      justify-content: center !important;
    }
  }

}


//Table
.p-datatable{
  border: none;
  border-radius: 1rem;
  .p-datatable-header{
    border-radius: 1rem;
    background:red;
  }

  .p-datatable-thead{
    border-bottom: 3px solid $gray-light;

    th{
      background: white;
    }
    tr{
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}
.p-paginator-bottom{
  border: none !important;
}

.font-mulish{
  font-family: $font-family-serif;
}

.login{
  font-size: 16px;

  button{
    font-size: 1.4rem;
    border-radius: 2rem;
    width: 160px;
    height: 50px;
  }
}


input{
  &::placeholder{
    font-size: 1.2rem;
    font-weight: 400;
  }

  padding: 10px;
}


//Navbar

.navbar{
  margin: 0 !important;
  padding: 0 !important;
  .container{
    padding-top: 20px;
    padding-bottom: 20px;
    background: $white;

    .navbar-collapse{
      background: $white;
      border: 2px solid $green-light;
      position: relative;
      border-radius: 1rem;
      margin-top: 20px;
      padding: 20px;
    }
  }

  .navbar-togler {
    border: 2px solid $gray;
    border-radius: 5px;
    background: $white;
  }

  .navbar-item{
    text-decoration: none;
    color: $black;
    border-radius: 5px;
    fill: var(--white);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
      margin-right: 10px;
    }

    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
    background: $white;

    &:hover{
      background: $green-light;
      color: $green;
      transition: 0.3s ease all;
      cursor: pointer;
    }

  }

  .navbar-item.active{
    background: $green-light;
    color: $green;
  }
}

.collapsing{
  transition: 0.2s ease all !important;
}

.navbar.bg-body-tertiary{
  background: $white !important;
}

@media (min-width: 300px){
  .navbar{
    .container{
      padding: 10px;
    }
  }
}


//topbar

.search{
  font-size: 1.2rem;

  input{
    border: 2px solid $gray;
    border-radius: 5px;
  }

  .input-container{
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .s-icon{
    position: absolute;
    right: 30px;
  }

  .helpers{
    font-size: 1.5rem;

    .notifications, .messages, .settings{
      &:hover{
        cursor: pointer;
        opacity: 80%;
        transition: 0.3s ease all;
      }
    }
  }
}




@media (min-width: 800px){
  .navbar{
    max-width: 300px;
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    height: 100vh;
    .container{
      flex-direction: column;

      .img-big{
        display: block;
      }

      .navbar-collapse{
        border: none;
        padding: 5px;
        width: 100%;
      }
    }

    .navbar-togler {
      display: none;
    }

    .navbar-item{
      width: 100%;
      justify-content: start;
      margin-bottom: 8px;
      font-size: 1rem;
    }
  }

  #navbarSupportedContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }


}


//dashboard

.action-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  .action-card-image{
    height: 40px;
    img{
      object-fit: cover;
      height: 100%;
    }
  }

  &:hover{
    cursor: pointer;
    background: $green-light;
    color: $green;
    transition: 0.3s ease all;
  }
}

@media (min-width: 768px){
  .action-card{
    width: 100% !important;
  }
}

@media (min-width: 992px){
  .action-card{
    height: 90px;
    .action-card-image {
      height: 100%;
    }
  }
}

.header{
  font-weight: 600;
  margin-bottom: 1.5rem;
}

//Compare view
.compare{
  width: 100%;
  .topbar{
    margin-top: 20px;
    .compare-controls{
      border-radius: 10px;
      padding: 1.5rem;

      .splitter{
        color: #c3c3c3;
        position: relative;
        span{
          background: $white;
          z-index: 999;
        }
        .line{
          height: 70px;
          width: 2px;
          background: $gray;
          position: absolute;
        }
      }

      button{
        width: 200px;
        height: 50px;
        font-weight: 600;
      }
    }
  }
}

.table-component{
  .content{
    padding: 10px;
    background: $white;
    border-radius: 1rem;
  }
}

@media (max-width: 576px){
  .topbar{
    .compare-controls{
      .splitter{
        display: none;
      }
      >:first-child{
        margin-bottom: 20px;
      }
    }
  }

}

.message-container-main{
  z-index: 1100 !important;
  opacity: 1 !important;
}

.file-info{
  border: 2px solid $gray-dark;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  .file-info-wrapper{
    .file-details{
      margin-left: 10px;
    }
  }
}

.compare-result{
  .files{
    border-radius: 1rem;
    .file-info{
      border: none !important;
    }
  }
  .plagiat-result{
    .inner{
      background: white;
      border-radius: 1rem;
      text-align: center;
      align-items: center;
      justify-content: center !important;
      display: flex;
      h2{
        margin: 0;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 800px){
  .compare-result{
    .files{
      >:last-child{
          border-left: 3px solid $gray-light;
        }
      .file-info{
        justify-content: center;
      }

    }
    margin-bottom: 10px;
  }
}

@media (max-width: 800px){
  .compare-result{
    .plagiat-result{
      margin-top: 10px;
    }
  }
}

.side-by-side-result{
  .head{
    h5{
      margin:0!important;
      font-weight: 600;
    }
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    .inner-search{
      position: relative;
      margin-left: 10px;
      .p-inputtext{
        background: $white;
        border: none;
        height: 24px;
        width: 120px;
      }
      i{
        position: absolute;
        right: 10px;
        top: 5px;
      }
    }
  }

  .content-wrapper{
    .info-block{
      background: $white;
      padding: 0.5rem;
      border-radius: 0.5rem;
      text-align: center;
      .name{
        font-weight: 600;
      }

      .inner-info{
        font-size: 1.3rem;
        span{
          color: $gray-dark;
        }
      }

    }
  }
}




@import "bootstrap/scss/bootstrap.scss";
@import "assets/theme/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
